

<div class="add-block-margin">
    <fieldset class="add-border">
        <div class="add-padding">
            <div class="text-center">
                <label class="add-margin">name:</label>
                <input ng-model="vm.newName" class="add-margin" type="text" size="10" />
                <label class="add-margin">birth date:</label>
                <input ng-model="vm.newBirthDate" class="add-margin" type="date" />
            </div>
            <button ng-click="vm.createPhotographer()" class="add-photographer btn btn-default">Add</button>
        </div>
    </fieldset>
</div>

<div class="photographers-table add-block-margin">
    <table class="table table-striped table-condensed add-border">
        
        <thead>
            <tr>
                <td>name</td>
                <td>birth date</td>
                <td>picture count</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="photographer in vm.pagePhotographers">
                <td><a 
                       href="#!/photographer/{{ photographer.id }}">{{ photographer.name }}</a></td>
                <td>{{ photographer.birthDate | date }}</td>
                <td>{{ photographer.pictureCount }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <div ng-repeat="page in vm.pages" class="inline">
            <button class="btn btn-default"
                    ng-click="vm.goToPage(page)"
                    ng-class="{'btn-primary': vm.currentPage===page}">
                {{ page }}
            </button>
        </div>
    </div>
    <div class="text-danger text-center">{{ vm.message }}</div>
</div>


<style>
    table td {
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    thead{
        background-color: lightgray;
    }
    .add-border{
        border: 2px solid black;
    }
    .add-block-margin{
        margin-left: 20%;
        margin-top: 5%;
        margin-right: 30%;
    }
    .add-photographer{
        float: right;
        margin-right: 35px;
        margin-bottom: 35px;
        margin-top: 20px;
    }
    .add-padding{
        padding: 10%;
    }
    .add-margin{
        margin: 10px;
    } 
    .inline {
        display: inline;
    }
</style>