
<script src="~/lib/angular/angular.min.js"></script>
<script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/PortfolioApp/portfolioApp.js"></script>
<script src="~/PortfolioApp/infoController.js"></script>

<div ng-app="portfolioApp">
    <ng-view></ng-view>
</div>